.l-content--main.m-box
  %h2.m-headline Absolut Numbers
  .chart-container{ data: {coffee: @coffee.to_json, meat: @meat.to_json, veggie: @veggie.to_json, drink: @drink.to_json, soccer: @soccer.to_json} }
.l-content--sidebar.m-box
  %h2.m-headline Achievements
  %ul.m-achievement-list{data: {bahaviour: "pusher_list"}}
    / - Achievement.order('created_at desc').first(7).each do |achievement|
    - @achieved_achievements.each do |achieved_achievement|
      %li.m-achievement.as-achieved
        %i.m-achievement--icon{class: achieved_achievement.achievement.title == 'Achievement 101' ? 'icon-trophy' : "icon-#{achieved_achievement.achievement.resources.first.short}"}
        - if achieved_achievement.achievement.settings.present? && achieved_achievement.achievement.settings[:count] > 1
          .m-achievement--label= achieved_achievement.achievement.settings[:count]
        .m-achievement--title= achieved_achievement.yet_another_kard.uid
        .m-achievement--text= achieved_achievement.achievement.title
