.l-content--main.m-box
  %h2.m-headline Absolut Numbers
  .chart-container
.l-content--sidebar.m-box
  %h2.m-headline Achivements
  %ul.m-achivement-list{data: {bahaviour: "pusher_list"}}
    / - @achieved_achievements.each do |achieved_achievement|
    /   %li.m-achivement
    /     = image_tag("achivement.png", class: 'm-achivement--icon')
    /     .m-achivement--headline= achieved_achievement.yet_another_kard.uid
    /     .m-achivement--text= achieved_achievement.achievement.title
    - Achievement.order('created_at desc').first(7).each do |achievement|
      %li.m-achivement
        = image_tag("coffee.png", class: 'm-achivement--icon')
        .m-achivement--headline= "234567890"
        .m-achivement--text= achievement.title
