.m-achivement-list
  > li
    border-bottom: 1px solid $white
    margin-bottom: 5px
    &:last-child
      border-bottom: none
      margin-bottom: 0
.m-achivement
  +pie-clearfix
  padding-bottom: 5px
  .m-achivement--icon
    float: left
    margin-right: $padding
  .m-achivement--headline
    font-size: 24px
  .m-achivement--text
    font-size: 12px
